<h1>Livro de receitas</h1>

  <dl>
    <% @recipes.each do |recipe| %>
      <dt>
        <strong>Nome:</strong><%= recipe.name %>
      </dt>

      <dd>
        <strong>Tipo da receita:</strong><%= recipe.recipe_type %>
      </dd>
  </dl>
<% end %>